@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

body {
  background: black;
}

.player {
  color: white;
  font-family: 'Scope One', serif;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 150px;
  height: 150px;
  font-size: 5rem;
  color: #e8e5e5;
  border: solid 1px black;
}

.square:hover {
  background: gray;
}

.square_o {
  background-color: rgb(44, 97, 15);
  font-family: 'Scope One', serif;
  font-weight: 600;
}

.square_x {
  background-color: rgb(116, 14, 34);
  font-family: 'Scope One', serif;
  font-weight: 600;
}

p {
  font-size: 2rem;
}

.reset {
  font-family: 'Scope One', serif;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: rgb(107, 112, 112);
  cursor: pointer;
  width: 454px;
  border-radius: 4px;
  border: 1px solid black;
  padding-bottom: 0;
  font-weight: 600;
}

.reset:hover {
  background: black;
  border: 1px solid white;
  color: white
}
